<%- include("header",{type:'allArticle'}) %>
  <%  if(articles.length){ %>
    <div class="all-article-container">
      <% articles.forEach(function(res){ %>
        <div class="all-wrapper">
          <div class="title-wrapper">
            <span class="title-bar"></span>
            <a href="/article/<%= res.id %>">
              <span class="title"><%= res.title %></span>
            </a>
          </div>
          <% if(res.content){ %>
            <div class="content">
              <div class="text-content"><%- res.content %></div>
            </div>
          <% } else { %>
            <div class="content">
              <div class="text-content"><%- res.title %></div>
            </div>
          <% } %>
          <div class="content-bottom-detail">
            <span class="create-time">
              <span><%= res.moment %></span>
              <span class="author-name"><a href="/author/?author=<%= res.name %>"><%= res.name %></a></span>
              <span>评论:(<%= res.comments %>)</span>
              <span>阅读:(<%= res.pv %>)</span>
            </span>
            <span>
              <a class="text-link" href="/article/<%= res.id %>">阅读全文</a>
            </span>
          </div>
        </div>
      <% }) %>
    </div>
  <% } %>
<% include footer %>


